@using MVC5Blog.CustomHtmlHelpers;
@model MVC5Blog.Models.MvcMovie.Models.Post

@{
    ViewBag.Title = "Post_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div style="width:100%;margin-top:25px;">

    <strong style="color:red">@Html.DisplayFor(i => Model.Title)</strong>
    <p></p>

    @if (@Model.Image != null)
    {
        @Html.Image("/Content/image_post/" + @Model.Image, "test", 1100, 300)
    }

    <br />
    <br />

    <p> @Html.DisplayFor(i => Model.Content)</p>
    </div>